<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tommywk;AccountKey=dir8BNExdrma04J2xJbxh7oogdWEmnURiDVvfN6djVaaU9oP0oi2HL4j6fbNQPIaI87OX81iOT+WiLfw8+rk6w==" />
  </appSettings>  
</configuration>
